# Case Study #2: Pizza Runner [Website Link](https://8weeksqlchallenge.com/case-study-2/)

In [1]:
%load_ext sql
%sql sqlite:///pizza_runner.db

In [40]:
%%sql
SELECT *
FROM customer_orders 
--pizza_toppings

 * sqlite:///pizza_runner.db
Done.

[(1, 101, 1, '', '', '2020-01-01 18:05:02.000000'),
 (2, 101, 1, '', '', '2020-01-01 19:00:52.000000'),
 (3, 102, 1, '', '', '2020-01-02 23:51:23.000000'),
 (3, 102, 2, '', None, '2020-01-02 23:51:23.000000'),
 (4, 103, 1, '4', '', '2020-01-04 13:23:46.000000'),
 (4, 103, 1, '4', '', '2020-01-04 13:23:46.000000'),
 (4, 103, 2, '4', '', '2020-01-04 13:23:46.000000'),
 (5, 104, 1, 'null', '1', '2020-01-08 21:00:29.000000'),
 (6, 101, 2, 'null', 'null', '2020-01-08 21:03:13.000000'),
 (7, 105, 2, 'null', '1', '2020-01-08 21:20:29.000000'),
 (8, 102, 1, 'null', 'null', '2020-01-09 23:54:33.000000'),
 (9, 103, 1, '4', '1, 5', '2020-01-10 11:22:59.000000'),
 (10, 104, 1, 'null', 'null', '2020-01-11 18:34:49.000000'),
 (10, 104, 1, '2, 6', '1, 4', '2020-01-11 18:34:49.000000')]

# A. Pizza Metrics

## Question A1: How many pizzas were ordered?

From case: "Customer pizza orders are captured in the customer_orders table with 1 row for each individual pizza that is part of the order."

In [10]:
%%sql 
SELECT COUNT(*) as num_pizzas
FROM customer_orders;

 * sqlite:///pizza_runner.db
Done.

[(14,)]

## Question A2: How many unique customer orders were made?

In [13]:
%%sql 
SELECT COUNT(DISTINCT(order_id)) as unique_customer_orders
FROM customer_orders;

 * sqlite:///pizza_runner.db
Done.

[(10,)]

## Question A3: How many successful orders were delivered by each runner?

In [45]:
# %%sql 
# SELECT *
# FROM customer_orders AS cust
# LEFT JOIN runner_orders AS run ON cust.order_id = run.order_id
# WHERE run.pickup_time IS NOT 'null';

In [33]:
%%sql 
SELECT run.runner_id, COUNT(DISTINCT(cust.order_id)) as orders
FROM customer_orders AS cust
LEFT JOIN runner_orders AS run ON cust.order_id = run.order_id
WHERE run.pickup_time IS NOT 'null'
GROUP BY run.runner_id;

 * sqlite:///pizza_runner.db
Done.

[(1, 4), (2, 3), (3, 1)]

## Question A4: How many of each type of pizza was delivered?

In [43]:
%%sql 
SELECT customer_orders.pizza_id, COUNT(*) as num_pizzas
FROM customer_orders
LEFT JOIN runner_orders AS run ON customer_orders.order_id = run.order_id
WHERE run.pickup_time IS NOT 'null'
GROUP BY pizza_id;

 * sqlite:///pizza_runner.db
Done.

[(1, 9), (2, 3)]

## Question A5: How many Vegetarian and Meatlovers were ordered by each customer?

In [51]:
%%sql 
SELECT customer_orders.customer_id, pizza_names.pizza_name, COUNT(*) as num_pizzas
FROM customer_orders
LEFT JOIN pizza_names ON customer_orders.pizza_id = pizza_names.pizza_id
GROUP BY customer_id, pizza_name

 * sqlite:///pizza_runner.db
Done.

[(101, 'Meatlovers', 2),
 (101, 'Vegetarian', 1),
 (102, 'Meatlovers', 2),
 (102, 'Vegetarian', 1),
 (103, 'Meatlovers', 3),
 (103, 'Vegetarian', 1),
 (104, 'Meatlovers', 3),
 (105, 'Vegetarian', 1)]

## Question A6: What was the maximum number of pizzas delivered in a single order?

In [39]:
%%sql 
SELECT order_id, COUNT(order_id) as pizza_per_order
FROM customer_orders
GROUP BY order_id
ORDER BY pizza_per_order DESC
LIMIT 1;

 * sqlite:///pizza_runner.db
Done.

[(4, 3)]

## Question A7: For each customer, how many delivered pizzas had at least 1 change and how many had no changes?

In [52]:
%%sql 
SELECT *
FROM customer_orders
LEFT JOIN runner_orders AS run ON customer_orders.order_id = run.order_id
WHERE run.pickup_time IS NOT 'null'

-- IN PROGRESS

 * sqlite:///pizza_runner.db
Done.

[(1, 101, 1, '', '', '2020-01-01 18:05:02.000000', 1, 1, '2020-01-01 18:15:34', '20km', '32 minutes', ''),
 (2, 101, 1, '', '', '2020-01-01 19:00:52.000000', 2, 1, '2020-01-01 19:10:54', '20km', '27 minutes', ''),
 (3, 102, 1, '', '', '2020-01-02 23:51:23.000000', 3, 1, '2020-01-03 00:12:37', '13.4km', '20 mins', None),
 (3, 102, 2, '', None, '2020-01-02 23:51:23.000000', 3, 1, '2020-01-03 00:12:37', '13.4km', '20 mins', None),
 (4, 103, 1, '4', '', '2020-01-04 13:23:46.000000', 4, 2, '2020-01-04 13:53:03', '23.4', '40', None),
 (4, 103, 1, '4', '', '2020-01-04 13:23:46.000000', 4, 2, '2020-01-04 13:53:03', '23.4', '40', None),
 (4, 103, 2, '4', '', '2020-01-04 13:23:46.000000', 4, 2, '2020-01-04 13:53:03', '23.4', '40', None),
 (5, 104, 1, 'null', '1', '2020-01-08 21:00:29.000000', 5, 3, '2020-01-08 21:10:57', '10', '15', None),
 (7, 105, 2, 'null', '1', '2020-01-08 21:20:29.000000', 7, 2, '2020-01-08 21:30:45', '25km', '25mins', 'null'),
 (8, 102, 1, 'null', 'null', '2020-01-09 23:54:33.000000', 8, 2, '2020-01-10 00:15:02', '23.4 km', '15 minute', 'null'),
 (10, 104, 1, 'null', 'null', '2020-01-11 18:34:49.000000', 10, 1, '2020-01-11 18:50:20', '10km', '10minutes', 'null'),
 (10, 104, 1, '2, 6', '1, 4', '2020-01-11 18:34:49.000000', 10, 1, '2020-01-11 18:50:20', '10km', '10minutes', 'null')]

## Question A8: How many pizzas were delivered that had both exclusions and extras?

In [ ]:
%%sql 
SELECT *
FROM customer_orders
LEFT JOIN runner_orders AS run ON customer_orders.order_id = run.order_id
WHERE run.pickup_time IS NOT 'null'

-- IN PROGRESS

## Question A9: What was the total volume of pizzas ordered for each hour of the day?

## Question A10: What was the volume of orders for each day of the week?

# B. Runner and Customer Experience

## Question B1: How many runners signed up for each 1 week period? (i.e. week starts 2021-01-01)

## Question B2: What was the average time in minutes it took for each runner to arrive at the Pizza Runner HQ to pickup the order?

## Question B3: Is there any relationship between the number of pizzas and how long the order takes to prepare?

## Question B4: What was the average distance travelled for each customer?

## Question B5: What was the difference between the longest and shortest delivery times for all orders?

## Question B6: What was the average speed for each runner for each delivery and do you notice any trend for these values?

## Question B7: What is the successful delivery percentage for each runner?